body {
  background: #555;
  font-family: "Kulim Park", sans-serif;
  margin-top: 5vh;
}

.test {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: space-between; */
}

.test-item {
  padding: 5px;
  border: 2px solid green;
  background-color: #333;
  font-family: "Kulim Park", sans-serif;
  color: #999;
  font-size: 150%;
  width: 25%;
}
