body {
  background: rgba(0, 0, 0, 0.6);
  font-family: "Kulim Park", sans-serif;
  margin-top: 5vh;
  background-image: url("./images/background-image-3.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.test-item {
  padding: 5px;
  border: 2px solid green;
  background-color: #333;
  font-family: "Kulim Park", sans-serif;
  /* color: #999; */
  font-size: 150%;
  width: 25%;
}
